.footer {
  color: #2d3748;
  background-color: #f7fafc;
}

.footer-body {
  max-width: 72rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  flex-direction: row;
  margin: 1rem;
  justify-content: space-between;
  align-items: center;
}
